body {
  background-color: #c6070c;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffe392;
  flex-direction: column;
}
#love {
  opacity: 0;
  position: relative;
  top: 250px;
  z-index: -1;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transform: rotate(45deg);
  background-color: crimson;
  transition: opacity 0.5s cubic-bezier(0.37, 0, 0.63, 1);
}
.run {
  opacity: 1 !important;
  animation: love 1s infinite;
}
#love::after,
#love::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: crimson;
  transition: opacity 0.5s cubic-bezier(0.37, 0, 0.63, 1);
}
.run::after,
.run::before {
  animation: love 1s infinite;
}
#love::after {
  top: 0px;
  left: -100px;
}
#love::before {
  top: -100px;
  left: 0;
}
@keyframes love {
  0% {
    width: 200px;
    height: 200px;
  }
  20% {
    width: 230px;
    height: 230px;
    background-color: #ef3953;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}

#line1 {
  height: 20px;
  font-size: 1.1em;
  letter-spacing: 30px;
}
#line2 {
  font: 700 8em "";
  text-align: center;
  padding: 0px;
}
#line3 {
  font-size: 3em;
}
.text {
  transition: opacity 0.5s cubic-bezier(0.37, 0, 0.63, 1);
}

#btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffe392;
  font-size: 30px;
  color: #c6070c;
}
#btn::after {
  display: inline-flex;
  content: "";
  width: 105%;
  height: 110%;
  position: absolute;
  transition: all 0.35s;
  border-radius: 5px;
  z-index: -1;
  background: linear-gradient(45deg, red, orange, pink, gold, red);
  filter: blur(5px);
  background-size: 1000%;
  animation: amSize 40s linear infinite;
}
@keyframes amSize {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000% 0;
  }
}
#button {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 50px;
}
#button p {
  margin: 0;
  padding: 0 10px 0 10px;
  font-size: 50px;
  color: gold;
}
